header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header img{
    height: 100%;
}

.chat-display{
    border-style: solid;
}

.columnpic{
    float: left;
    width: 10%;
    overflow: hidden;
}

.chat-display img{
    margin: 16px 0 0 30px;
}

.columntext{
    float:right;
    width: 90%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}