<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/index-styles.css" />
</head>

<header class = "header">
    <a href="/only-available"><h1>My Shop</h1></a>
    <a href="/more-filters"><h1>More>></h1></a>
</header>

<body>
<div th:replace="fragments :: menu"></div>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>
    </thead>
    <tr th:each="item:${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.type}"></td>
        <td th:text="${item.description}"></td>
        <td class = "centeredtext" th:text="(${item.price}) ? (${#numbers.formatDecimal(item.price, 0, 'COMMA', 2, 'POINT')} + ((${EUR}) ? ' EUR' : ' Kč')) : ''"></td>
        <td class = "centeredtext" th:text="(${item.quantityOfStock}) ? (${item.quantityOfStock}) : ''"></td>
    </tr>
</table>


</body>
</html>