<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rascal Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/index-styles.css"/>
</head>
<body>
    <div class = "container">

        <br><br>

        <header>
            <h1>Rascal Chat Client</h1>
            <img src="/picture.jpg" width="30">
        </header>

        <br><br>

        <div class = chat-display th:each="message : ${messages}">
            <div class="row">
                <div class="columnpic">
                    <img th:src="${message.author.avatarUrl}" width="30">
                </div>
                <div class="columntext">
                    <b><p th:text="${message.author.username} + ' - ' +  ${message.created}"}></p></b>
                    <p th:text="${message.content}"></p>
                </div>
            </div>
        </div>

        <div class = message>
            <form action="">

            </form>
        </div>

    </div>
</body>
</html>