<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<body>
<h1>Register to Rascal Chat!</h1>
<form th:action="@{/register}" th:method="post" th:object="userLoginDTO">
    <label for="login">Username</label>
    <input required id="login" name="login" type="text"><br>

    <label for="password">Password</label>
    <input  type="password" required id="password" name="password"><br>
    <input type="submit" value="LOGIN">
</form>

<!--<div th:unless="${userExists}">-->
<!--    <p style="color:#ff0000">The user does not exist.</p>-->
<!--</div>-->

</body>
</html>