<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css" />
    <title>MyShop</title>
</head>
<body>

<div th:replace="fragments :: menu"></div>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>
    </thead>
    <tr th:each="item:${items}">
        <td th:text="${item.name()}"></td>
        <td th:text="${item.description()}"></td>
        <td class = "centeredtext" th:text="(${item.price}) ? (${item.price}) + ' Kč': ''"></td>
        <td class = "centeredtext" th:text="(${item.quantityOfStock}) ? (${item.quantityOfStock}) : ''"></td>
    </tr>
</table>


</body>
</html>