<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Tasks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<h1>TODOs for today:</h1>

<a href="/assignees-list">List of Assigness</a>
<br>
<a href="/add-task">Submit a new task</a>

<div class="search">
    <form th:action="@{/search}" th:method="GET">
        <label for="searchItem">Search for:</label>
        <input autofocus id="searchItem" name="searchItem">
        <button type="searchItem"> Search</button>
    </form>
</div>

<div class="search date">
    <form th:action="@{/searchDate}" th:method="GET">
        <label for="from">From</label>
        <input autofocus required id="from" type="datetime-local" name="fromDate">

        <label for="to">To</label>
        <input autofocus required id="to" type="datetime-local" name="toDate">

        <button type="searchDate"> Search</button>
    </form>
</div>

<div th:if="${not #lists.isEmpty(todos)}">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Created</th>
            <th>Assignee</th>
            <th>Urgent</th>
            <th>Done</th>
            <th>Delete</th>
            <th>Edit task</th>
        </tr>
        </thead>
            <tr th:each="todo : ${todos}" th:object="${todo}">
                <!--        <td th:text="*{id}"></td>-->

                <td th:text="*{id}"></td>
                <td th:text="*{title}"></td>
                <td th:text="*{description}"></td>
                <td th:text="*{dueDate}"></td>
                <td th:text="*{timeStamp}"></td>
                <td><a th:href="*{assignee != null} ? @{|/assignees-list/*{assignee.assigneeId}|} : @{|/list|}" th:text="*{assignee != null && assignee.name != null} ? *{assignee.name} : 'No name provided'"></a></td>
                <td th:text="*{urgent}"></td>
                <td th:text="*{done}"></td>
                <td><a th:href="@{|/delete-task/*{id}|}"><button type="button" class="btn btn-outline-warning">Delete</button> </a></td>
                <td><a th:href="@{|*{id}/edit|}"><button type="button" class="btn btn-outline-warning">Edit</button> </a></td>
            </tr>
    </table>
</div>

</body>
</html>