<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>

<body>
<div th:fragment="links (loggedId)">
    <ul>
        <li><a th:href="'/index?loggedId=' + ${loggedId}">Information</a></li>
        <li><a th:href="'/nutritionStore?loggedId=' + ${loggedId}">Nutrition Store</a></li>
        <li><a th:href="'/trickCenter?loggedId=' + ${loggedId}">Trick Center</a></li>
        <li><a th:href="'/actionHistory?loggedId=' + ${loggedId}">Action History</a></li>
    </ul>
</div>
</body>
</html>