<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<body>

<div th:replace="fragments :: links (${loggedId})"></div>

<img src="greenfox.png" alt="Green Fox">

<p th:text="'This is Mr. ' + ${fox.user.getUserName()} + '. Currently living on ' + ${fox.drink} + ' and ' + ${fox.food} + '. He knows ' + ((${#lists.isEmpty(fox.tricks)}) ? '0' : ${fox.tricks.size()})  + ' tricks.'"></p>

<h1>Known tricks</h1>
<div th:if="${fox.tricks != null}">
    <ul th:each="trick:${fox.tricks}">
        <li th:text="${trick}"></li>
    </ul>
</div>

<div th:unless="${fox.tricks != null}">
    <p>You know no tricks, yet. Go and learn some.</p>
</div>

<br>
<h1>Action History</h1>

<div>
    <ul th:each="log:${logs}">
        <li th:text="${log}"></li>
    </ul>
</div>

</body>
</html>