<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<body>

<ul>
    <li><a th:href="'/index?name=' + ${loggedName}">Information</a></li>
    <li><a th:href="'/nutritionStore?name=' + ${loggedName}">Nutrition Store</a></li>
    <li><a th:href="'/trickCenter?name=' + ${loggedName}">Trick Center</a></li>
    <li><a th:href="'/actionHistory?name=' + ${loggedName}">Action History</a></li>
</ul>

<img src="greenfox.png" alt="Green Fox">

<form th:action="'/nutritionStore?name=' + ${loggedName}" th:method="post" >
    <label for="fooditems">Food</label>
    <select id="fooditems" name="food">
        <option th:each="itemOfFood : ${foods}" th:value="${itemOfFood}" th:text="${itemOfFood}" th:selected="${itemOfFood==defaultFood}">></option>
    </select>
    <label for="drinkitems">Drink</label>
    <select id="drinkitems" name="drink">
        <option th:each="itemOfDrink : ${drinks}" th:value="${itemOfDrink}" th:text="${itemOfDrink}" th:selected="${itemOfDrink==defaultDrink}">></option>
    </select>
    <input type="submit" value="Change">
</form>

</body>
</html>