<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1>Add a new task</h1>
<form th:action="@{/add-task}" th:method="POST" >
    <label for="title">Provide title</label>
    <input autofocus required id="title" name="title" placeholder="provide title">

    <label for="description">Provide description</label>
    <input autofocus required id="description" name="description" placeholder="provide description">

    <label for="dueDate">Provide Due Date</label>
    <input autofocus required id="dueDate" type="datetime-local" name="toDoBefore" >

    <label for="isUrgent">Is it urgent?</label>
    <input type="checkbox" id="isUrgent" name="urgent">
    <button type="submit"> SUBMIT</button>
</form>

</body>
</html>