<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Tasks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/todolist.css">
</head>
<body>

<h1>TODOs Application</h1>
<br><br>

<div class="headerbuttons">
    <a href="/add-task" class="btn btn-warning">Submit a new task</a>
    <a href="/assignees-list" class="btn btn-success">List of Assigness</a>
</div>


<br><br>
<div class="myform">
    <form th:action="@{/search}" th:method="GET">
        <label for="searchItem">Search for:</label>
        <input autofocus id="searchItem" name="searchItem">
        <button type="searchItem" class="btn btn-secondary">Search</button>
    </form>

    <form th:action="@{/searchDate}" th:method="GET">
        <label for="from">From</label>
        <input autofocus required id="from" type="datetime-local" name="fromDate">

        <label for="to">To</label>
        <input autofocus required id="to" type="datetime-local" name="toDate">

        <button type="searchDate" class="btn btn-secondary">Filter</button>
    </form>
</div>

<br><br>

<div th:if="${not #lists.isEmpty(todos)}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Created</th>
            <th>Assignee</th>
            <th>Urgent</th>
            <th>Done</th>
            <th>Delete</th>
            <th>Edit task</th>
        </tr>
        </thead>
            <tr th:each="todo : ${todos}" th:object="${todo}">
                <td th:text="*{id}"></td>
                <td th:text="*{title}"></td>
                <td th:text="*{description}"></td>
                <td th:text="*{dueDate}"></td>
                <td th:text="*{timeStamp}"></td>
                <td><a th:href="*{assignee != null} ? @{|/assignees-list/*{assignee.assigneeId}|} : @{|/list|}" th:text="*{assignee != null && assignee.name != null} ? *{assignee.name} : 'No name provided'"></a></td>
<!--                <td th:text="*{urgent}"></td>-->
                <td class="tdcenter"><img th:if="*{urgent}" th:src="@{'/true.png'}"/><img th:unless="*{urgent}" th:src="@{'/false.png'}"/></td>
                <td class="tdcenter"><img th:if="*{done}" th:src="@{'/true.png'}"/><img th:unless="*{done}" th:src="@{'/false.png'}"/></td>
                <td><a th:href="@{|/delete-task/*{id}|}"><button type="button" class="btn btn-outline-danger">Delete</button> </a></td>
                <td><a th:href="@{|*{id}/edit|}"><button type="button" class="btn btn-outline-primary">Edit</button> </a></td>
            </tr>

<!--        <tr th:each="todo : ${todos}">-->
<!--            <td th:text="${todo.id}"></td>-->
<!--            <td th:text="${todo.title}"></td>-->
<!--            <td th:text="${todo.description}"></td>-->
<!--            <td th:text="${todo.dueDate}"></td>-->
<!--            <td th:text="${todo.timeStamp}"></td>-->
<!--            <td><a th:href="${todo.assignee != null} ? @{|/assignees-list/${todo.assignee.assigneeId}|} : @{|/list|}" th:text="${todo.assignee != null && todo.assignee.name != null} ? ${todo.assignee.name} : 'No name provided'"></a></td>-->
<!--            <td th:text="${todo.urgent}"></td>-->
<!--            <td th:text="${todo.done}"></td>-->
<!--            <td><a th:href="@{|/delete-task/${todo.id}|}"><button type="button" class="btn btn-outline-warning">Delete</button> </a></td>-->
<!--            <td><a th:href="@{|${todo.id}/edit|}"><button type="button" class="btn btn-outline-warning">Edit</button> </a></td>-->
<!--        </tr>-->

    </table>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</div>
</body>
</html>